---
import i18next from "i18next";
---

<section class="w-full flex flex-col items-center">
  <h1 class="flex items-center font-bold text-[36px] leading-[44px] min-h-[44px] text-black mb-[18px]">
    {i18next.t("intro.title")}
    <span class="rounded-lg px-4 py-2 ml-4 text-white leading-none" style="background: linear-gradient(111.9deg, #F833A9 0%, #FF7456 64.33%);">2026</span>
  </h1>
  <p class="text-neutral-900 text-lg leading-[150%] h-[27px] mb-[60px]">
    {i18next.t("intro.decs")}
  </p>
  <div class="bg-white relative flex flex-wrap border-[0.5px] border-gray-400 shadow-[0px_2px_12px_rgba(0,0,0,0.06)] rounded-[10px] max-lg:w-[440px] max-sm:w-[320px]">
    <div class="flex justify-center items-center h-[229px] w-[440px] max-lg:border-b-[0.5px] lg:border-r-[0.5px]">
      <div>
        <div class="flex h-[120px] flex-col justify-center items-center">
          <img src="/images/image 3.png" class="w-[60px]" />
        </div>
        <p class="font-semibold text-xs leading-[15px] text-center text-neutral-900">{i18next.t("intro.pku")}</p>
      </div>
      <img src="/images/x.svg" class="text-gray-400 mx-5 w-[10px]" />
      <div>
        <div class="flex h-[120px] flex-col justify-center items-center">
          <img src="/images/wtf.png" class="w-[140px]" />
        </div>
        <p class="font-semibold text-xs leading-[15px] text-center text-neutral-900">{i18next.t("intro.wtf")}</p>
      </div>
    </div>
    <div class="p-[30px] flex bg-white flex-col justify-center flex-1 rounded-[10px]">
      <p>
        <span set:html={i18next.t("intro.content-1")} />
        <br />
        <br />
        <span set:html={i18next.t("intro.content-3")} />
      </p>
    </div>
    <div class="-z-10 absolute bg-[linear-gradient(111.9deg,#ffd18a_0%,#ffe7e8_64.33%)] rounded-full w-[200px] h-[200px] right-[-80px] bottom-[-60px]"></div>
  </div>
</section>
